# Ignore all Migrations folders
BookManagement.DataAccess/Migrations/

# Ignore specific types of files
*.csproj.user
*.suo
*.user
*.db
*.bak

# Ignore build output directories
bin/
obj/

# Ignore package directories
packages/
node_modules/

# Ignore IDE-specific files
.vscode/
.idea/
*.vs/
*.log

# Ignore credentials and configuration files
BookManagementWPFApp/Credentials.json

# Ignore hidden files (OS specific)
.DS_Store
Thumbs.db

# Ignore other temporary files
*.tmp
*.swp
